#to config the application, please modify extension of this file to ".py"!

class ApplicationConfig():
    #static resource path
    static_resource_path = 'app/main/static/'

    #Test mode or not
    is_test = True

    #Binance REST API
    api_key = '{{your api key}}'
    secret_key = '{{your secret key}}'
    
    #Telegram Bot API key
    tg_bot_api_key = '{{your tg bot api key}}'